*.pyc
placo_*_defaults.json
.vs/
runs/
__pycache__/
output/
log/
nn/
recordings/
anim.npy
sim.npy
motions/
stuff
awd/data/motions/*
dummy.txt
tmp
gait_generation/gait/gait_2d_heatmaps.png
gait_generation/gait/gait_params_vs_velocity.png
gait_generation/gait/gait_cycle_vs_velocity.png
.venv
